<launch>

	<!-- ROS nodes (raspicam_node) -->
	<node	pkg="raspicam_node" 
		name="raspicam_node_robot" 
		type="raspicam_node" 
		output="screen">

		<rosparam command="load" file="$(find thermal-imaging)/calibration/camera_calibration/raspicam.yaml" />
		<param name="framerate" value="90" />
		<param name="camera_frame_id" value="0" />
		<param name="width" value="320" />
		<param name="height" value="240" />
		<param name="quality" value="100" />

	</node>

</launch>
