<launch>

	<!-- USB Camera -->
	<include file="$(find self_collect_machine)/launch/raspicam_robot.launch"/>

	<!-- Preview -->
	<!-- Preview -->
	<!-- <node	pkg="self_collect_machine"  -->
	<!-- 	type="raspicam_preview.py"  -->
	<!-- 	name="raspicam_preview"  -->
	<!-- 	output="screen">  -->
	<!-- </node>  -->

	<!-- Store and Customer -->
	<!-- BarCode/QR-Code Recognition -->
	<node	pkg="self_collect_machine"
		type="raspicam_barcode_recognition.py"
		name="raspicam_barcode_recognition"
		output="screen">
	</node>

</launch>
